# Rust
/target
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pyo
*.so
*.dylib
*.dll
build/
dist/
*.egg-info/
.eggs/
*.egg
# SQLite
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
# MacOS
.DS_Store
# VSCode
.vscode/